*{
    margin: 0;
    padding: 0;
}
header{
    background-color: aqua;
color: aqua;
display:flex ;
justify-content: space-around;
}

cabecalho-imgem{
width: 20%;
}

.cabecalho.liste.item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24 px;
}
escola-imagen{
    width: 25%;
}